* {
	margin:0px;
	padding:0px;
}

main{
	display: -webkit-flex;
	display: flex;
	flex-flow: row;
	width: 100%;

}

header {
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	position:fixed;
	background-color: black;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

body{
	background-image: url("../box.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

footer{
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
}

ul, ol {
	list-style:none;
}

#nav{
	left: 35%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.navAdmin{
	left: 5%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.navEn > li,.navDep > li, .navAdmin > li {
	float:left;
	margin-right: 15px;
	text-align: center;
}

.navEn li a, .navDep li a, .navAdmin li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:20px 12px;
	display:block;
}

.navEn li a:hover, .navDep li a:hover, .navAdmin li a:hover {
	background-color:#434343;
}

.navEn li ul, .navDep li ul, .navAdmin li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.navEn li:hover > ul, .navDep li:hover > ul, .navAdmin li:hover > ul {
	display:block;
}

.navEn li ul li, .navDep li ul li, .navAdmin li ul li {
	position:relative;
}

.navEn li ul li ul, .navDep li ul li ul, .navAdmin li ul li ul {
	right:-140px;
	top:0px;
}

.navDep{
	left: 15%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.navEn{
	left: 20%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.home{
	max-width: 700px;
	margin: 0px auto;
	margin-top: 85px;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

.home2{
	width: 300px;
	margin: 0px auto;
	margin-top: 85px;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

.activitiesBody{
	width: 700px;
	margin: 5em 0em 5em 0em;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	float: left;
}

.activity_line{
	height: 2.5em;
}

.users{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: top;
	justify-content: space-around;
	width: 100%;
}

.center-div {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}

.margin{
	margin-top: 80px;
	margin-left: 50px;
	margin-right: 20px;
}

.recuadro{
	padding-top: 80px;
	padding-bottom: 30px;
	/*background-color: #9E9E9E;*/
	width: 100%;
}

.bloques {
	margin-top: 170px; 
	width: 27.5%;
	margin-bottom: 8%;
}

#formulario{
	text-align: center;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

form {
	max-width: 300px;
	margin: 0px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

h1 {
	/*margin: 3px 0 0 0;*/
	text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
.checkbox-style,
img,
iframe,
textarea,
select {
	background: rgba(255,255,255,0.1);
	border: none;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 6px;
	width: 100%;
	background-color: #e8eeef;
	color: #4b4747;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

input[type="radio"],
.checkbox-style {
	margin: 0 4px 8px 0;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;  
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}

.actTable_container {
	font: .9em Arial, Helvetica, sans-serif;
	text-align: center;
	width:100%;
	align-content: top;
}

.actTable_header {
	background: #8D8B8B;
	padding: 0 .3em;
	font-weight: bold;
	border: 1px solid #333;
	margin-bottom: 1px;
}

.activitiesMenu{
	margin: 9em 5em auto 5em;
	width: 18em;
}

.actTable_hour {
	background: #B2CFEA;
	border: 1px solid #333;
	font-weight: bold;
	height: 4em;
}

.actTable_activities {
	background: #B2CFEA;
	border: 1px solid #333;
	font-weight: bold;
	height: 4em;
	border-radius: 10%;
	margin-left: 1px;
}

.vertical_middle_text{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

#actTable_col_hours{
	width: 9%;
}
.actTable_col {
	width: 13%;
	display:inline-block;
	float: left;

}

.title-style{
	position: absolute; 
	margin-top: 75px; 
	background-color: #e8edff; 
	border: 1px solid #669;
}

.full-width {
	width: 100%;
}


#login{
	margin-top: 18%;
}

#login > a{
	color: red;
}

.icons{
	padding-right: 5px;
	text-align: right;
}

.circulo {
	height: 50px;
	width: 55px;
	display: table-cell;
	text-align: center;
	font-size:36px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: green;
}

#add{
	color: white;
}

.fa{
	font-size: 25px;
}

/*botón flotante*/
.btn-group-sm .btn-fab{
	position: fixed !important;
	right: 29px;
}

.btn-group .btn-fab{
	position: fixed !important;
	right: 20px;
}

.btn-group-act .btn-fab{
	position: fixed;
	left: 8.7em;
	top: 12em;
}

a:link  {   
	text-decoration:none;   
	color: black;
} 

.home2 > a {
	color: black;
} 
a:visited{
	color: black;
}

@media (max-width: 900px){

	.navEn, .navDep{
		left: 5%;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	.navAdmin{
		left: 0%;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	.navDep > li, .navAdmin > li {
		float:left;
		margin-right: 0px;
		text-align: center;
	}	

	.navAdmin li ul li ul {
		right:80px;
		top:0px;
		z-index: 100;
	}

	footer{
		background-color: black;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 20px;
	}

	.home{
		max-width: 350px;
		margin: 0px auto;
		margin-top: 180px;
		padding: 10px 20px;
		background: #f4f7f8;
		border-radius: 8px;
	}

	.margin{
		margin-top: 180px;
		margin-left: 10px;
		margin-right: 20px;
		margin-bottom: 40px;
	}

	#add{
		color: white;
		bottom: 20px;
	}

}


@media (min-width: 460px) and (max-width: 1370px){

	.navAdmin{
		left: 15%;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	.navDep, .navEn{
		left: 22%;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	footer{
		background-color: black;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 20px;
	}

	.home{
		max-width: 700px;
		margin: 0px auto;
		margin-top: 90px;
		padding: 10px 20px;
		background: #f4f7f8;
		border-radius: 8px;
	}

	.recuadro{
		padding-top: 0;
		padding-bottom: 30px;
		/*background-color: #9E9E9E;*/
		width: 100%;
	}

	.margin{
		margin-top: 80px;
		margin-left: 100px;
		margin-right: 20px;
		margin-bottom: 40px;
	}

}

@media (min-width: 460px) and (max-width: 1370px) and (min-height: 900px){

	.navDep{
		left: 16%;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	.home{
		max-width: 800px;
		margin: 0px auto;
		margin-top: 190px;
		padding: 10px 20px;
		background: #f4f7f8;
		border-radius: 8px;
	}

	.recuadro{
		padding-top: 20px;
		padding-bottom: 30px;
		/*background-color: #9E9E9E;*/
		width: 100%;
	}

	footer{
		background-color: black;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 20px;
	}	

	.margin{
		margin-top: 80px;
		margin-left: 80px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

@media(min-width: 1370px){
	.margin{
		margin-top: 180px;
		margin-left: 180px;
		margin-right: 45px;
		margin-bottom: 45px;
	}
	
	.btn-group-sm .btn-fab{
		position: fixed !important;
		right: 29px;
	}
}

table {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;    
	margin: auto;     
	width: 480px; 
	text-align: left;    
	border-collapse: collapse; 
	border-radius: 30px;
}

th {     
	font-size: 15px;     
	font-weight: normal;     
	padding: 8px;     
	background: #BBB4B3;
	border-top: 4px solid #B4B4B4;    
	border-bottom: 1px solid #fff; 
	color: black;
}

td {    
	padding: 8px;     
	background: #e8edff;     
	border-bottom: 1px solid #fff;
	color: #669;    
	border-top: 1px solid transparent; 
}

tr:hover td { 
	background: #d0dafd; 
	color: #339; 
}

table td:hover {
	background: #98aefa !important;
}

#button2 {
	padding: 6px 6px 6px 6px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 13px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;  
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}
